:scroll: **By using this Discord, you agree to follow these rules:**

> **1.**  We are all human. Whether that be Moderators, Admins, Members or Devs; Treat everyone with respect. Absolutely no harassment, sexism, racism, homophobia or hate speech will be tolerated.
> 
> **2.** No spam or self-promotion (server invites, advertisements, etc) without permission from a Moderator. This includes DMing fellow members.
> 
> **3.** No NSFW or obscene content. This includes text, images, or links featuring nudity, hard violence, or other graphically disturbing content. This includes, and you are responsible for, your profile picture, username, about me and status. 
> 
> **4.**  If you see something against the rules or something that makes you feel unsafe, let a Moderator know. We want this server to be a welcoming space for all.
> 
> **5.** You are responsible for what is posted thru your account. This means if your sibling, friend, parent, etc. are using your account, you are ultimately still responsible for what is posted. 
> 
> **6.** One account per person in the server. All alt accounts will be banned. This may be annoying but this is to combat ban evasion. 
> 
> **7.** This server is intended for all things Blue Bean Games and our community. Discussions about topics like politics and social discourse are not permitted. All content that is deleted by Moderators should not be discussed or brought up again. 
> 
> **8.** All views and opinions posted by members of the Blue Bean Games team do not represent the views of BBG as a studio. 
> 
> SOCIAL MEDIA
> :computer: https://bluebean.games
> :Twitter: https://twitter.com/blue_bean_games
> Git https://github.com/Blue-Bean-Games
> :coin: https://www.patreon.com/bluebeangames
> 
